@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.citycontainer {
  height: 70vh;
  width: 30%;
  margin: 10px;
  border: 3px solid #596aca;
  border-radius: 8px;
  padding: 13px;
  font-family: "Nunito", sans-serif;
  color: #36454f;
}

h2 {
  display: block;
  height: 12px;

  text-align: center;

  /* margin-right: 40px; */
  margin-bottom: 6px;
}

#city-name {
  text-align: center;
}

.left {
  font-size: 25px;
  margin-left: 15px;
}

i {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
}

h3 {
  display: inline;
  width: 50%;
  font-size: 32px;
  margin-left: 30px;
  /* text-align: right; */
}

.convert-temp {
  display: inline;
  margin-left: 160px;
  font-size: 24px;
}

.progress,
.time {
  display: inline;
}

.time {
  font-weight: 400;
}

.sunrise-container {
  margin-top: 20px;
  border: 2px solid #596aca;
  height: 50px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 8px;
}
.sunrise-img {
  width: 45px;
  padding: 5px;
}

.sunset-container {
  margin-top: 20px;
  border: 2px solid #596aca;
  height: 50px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 8px;
}
.sunset-img {
  width: 47px;
  padding: 5px;
}

.sunrise-time {
  text-align: center;

  display: inline;
}

.search-container {
  height: 18.5%;
  width: 68%;
  border: 3px solid #596aca;
  position: absolute;
  top: 1.3%;
  right: 1%;
  border-radius: 8px;
}

.profile {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 4%;
  right: 1%;
  background-color: #596aca;
  border-radius: 3px;
}

.profile-img {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 7%;
  right: 3%;
  padding: 2px;
}

.recent-location {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
  color: #36454f;
}

input {
  padding-left: 15px;

  border: 2px solid #536977;
  outline: none;
  border-radius: 6px;
  height: 35.5px;
  line-height: 1.5rem;
}

.search-btn-container {
  margin: 20px;
  margin-top: 25px;
}

.date {
  position: absolute;
  top: 20%;
  right: 20%;
  font-size: 20px;
  text-align: center;
  color: #36454f;
}

strong {
  font-weight: bolder;
  font-size: 22px;
}

.overview-container {
  background-color: #a1aef8;
  position: absolute;
  height: 51vh;
  width: 100.2%;
  border: 3px solid #596aca;
  position: absolute;
  top: 104.5%;
  right: 0%;
  border-radius: 8px;
}

.to {
  font-size: 33px;
  padding: 30px;
}

.col {
  width: 20px;
  height: 110px;
  border: 2px solid #596aca;
  margin: 10px 20px 20px 20px;
  border-radius: 3px;
}

.col-img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 25%;
  left: 5%;
}

.col-text {
  font-size: 20px;
  position: absolute;
  top: 20%;
  left: 25%;
  text-align: center;
}

.down {
  width: 20px;
}

.small-text {
  position: absolute;
  font-size: 20px;
  top: 50%;
  right: 10%;
  color: #536977;
}

.convert {
  display: inline;
}
